In [ ]:
#ex1
list=[2, 3, 6]
s=1
for i in list:
 s=s*i
print(s)

36

In [ ]:
#ex2
a=[(1, 3,), (3, 2,), (2, 1,)]
def Deuxième(t) :
  return t[1]
a.sort(key = Deuxièeme)
print(a)

[(2, 1), (3, 2), (1, 3)]

In [ ]:
#ex3
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d1:
  if key in d2:
    d1[key]=d1[key]+d2[key]
d3=dict(d1,**d2)
print(d3)

{'a': 300, 'b': 200, 'c': 300, 'd': 400}

In [ ]:
#ex4
number = int(input("Type a number: "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#ex5
a = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]